body {
    color: white;
    overflow-x: hidden;
}

#box-ADV {
    color: white;
    background: linear-gradient(203deg, rgba(21, 21, 21, 0.2) 53%, rgba(0, 0, 0, 1) 100%);
    border: none;
}

#btn-nascondiADV {
    background-color: #2222223a;
    border: none;
}

.box-PLAYLIST {
    color: white;
    background-color: #2D2D2D;
    border:none
}

#btn-tagPLAYLIST1 {
    background-color: #2222223a;
    border: none;
}

#btn-tagPLAYLIST2 {
    background-color: #2222223a;
    border: none;  
}

.img-Iniziale {
    border-top-left-radius: 4px;
}

.img-Finale {
    border-bottom-left-radius: 4px;
}

.text-descrizionePLAYLIST {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
}

.box-CONSIGLI {
    color: white;
    background-color: #2D2D2D;
    text-align: left;
}

.box-CONSIGLI p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-CONSIGLI:hover{
    background-color: #353535;
}

.cursore-puntatore:hover {
    cursor: pointer;
}

.img-CONSIGLI {
    border-radius: 8px;
    box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.64);
}

.icon-change:hover{
    transform: scale(1.1) 
}

.text-NODECORATION {
    color: white !important;
}

