html {
  font-size: 0.6em;
  line-height: 2;
}
main {
  height: auto;
}
body {
  height: 100vh;
  background-color: #121212;
}
.container {
  width: 100%;
}
div.col-3 {
  background-color: black;
}
#avatarTop{
  height: 25px;
}
#like i {
  background: linear-gradient(
    135deg,
    rgba(66, 21, 190, 1) 0%,
    rgba(121, 142, 136, 1) 70%
  );
}
#bookmark i {
  color: green;
  background-color: darkgreen;
}
#bookmark {
  border-bottom: 1px solid rgb(31, 31, 31);
  margin-bottom: 5px;
}
#navMobile {
  font-size: 2em;
}
.scrollbar {
  padding: 5px 0;
  overflow-y: scroll;
  height: 480px;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  margin: 5px 0;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
#plus{
    transform: rotate(45deg);
}